/*Large Screens*/
@media only screen and (min-width: 901px) and (max-width:1100px) {

    .container {

        display: block;
        grid-template-rows: 50px 800px 50px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "ct ct ct ct ct sd sd sd"
            "ft ft ft ft ft ft ft ft";

        /*border: 2px solid yellow;*/

    }

    .blog-page-title {
        font-size: large;
    }

    .grid-item {
        /* width: auto; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }
}