/*Large screens beyond 1000 px*/
@media(min-width:1101px) {
    .container {

        display: grid;
        grid-template-rows: 50px 800px 50px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "sd sd sd ct ct ct ct ct"
            "ft ft ft ft ft ft ft ft";

        /*border: 2px solid yellow;*/

    }


    #nested-grid {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        /*border: 2px solid red;*/
    }

    .card {
        width: 300px;
        height: 230px;
    }

    .welcome-title {
        font-size: x-large;
    }

    .blog-page-title {
        font-size: x-large;
    }
}